* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: white;
  margin: 20px 0;
}
.less_margin {
  margin-bottom: 7px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  height: 70px;
  line-height: 70px;
  width: calc(100% - 263px);
  margin-right: 17px;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}
#button_upgrade {
  margin: 20px 5px;
  padding: 0 30px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: black;
  cursor: pointer;
}
#button_upgrade p {
  font-size: 10px;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
#button_upgrade:hover {
  padding: 0 35px;
  margin: 18px 5px;
}
#button_upgrade:hover p {
  font-size: 11px;
}

main {
  height: calc(100% - 90px);
}

footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: #3a3636;
  z-index: 5;
}

.logo {
  height: 100px;
  width: 100%;
}
.display_none_two {
  display: none;
}
.logo img {
  margin: 5%;
  width: 80%;
}
.home {
  height: 15px;
  line-height: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.home_two {
  height: 15px;
  line-height: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.home_two:hover p, .home_two:hover i {
  color: white;
}
.home_two p {
  display: inline-block;
  color: grey;
  font-size: 15px;
}
.home_two i {
  display: inline-block;
  color: grey;
  margin-left: 22px;
  font-size: 15px;
}
.vertical_line {
  float: left;
  height: 100%;
  border-right: 2px solid lime;
}
.home p {
  display: inline-block;
  color: white;
  font-size: 15px;
}
.home i {
  display: inline-block;
  color: white;
  margin-left: 20px;
  font-size: 15px;
}

.main_nav_playlist {
  height: 75px;
  margin-top: 20px;
  padding-left: 22px;
}
.main_nav_playlist h5 {
  color: white;
  text-transform: uppercase;
  margin: 10px 0;
}
.playlist {
  height: 50px;
  cursor: pointer;
}
.playlist:hover p, .playlist:hover i {
  color: white;
}
.playlist i {
  vertical-align: middle;
  font-size: 30px;
  color: grey;
}
.playlist p {
  vertical-align: middle;
  display: inline-block;
  color: grey;
  font-size: 15px;
  margin-left: 5px;
}
.playlist_list {
  height: 100%;
  min-height: 50px;
  margin-left: 22px;
  overflow-y: auto;
}
.playlist_list p {
  display: block;
  font-size: 15px;
  color: grey;
  margin: 10px 0;
  cursor: pointer;
}
.playlist_list p:hover {
  color: white;
}

.account {
  padding-left: 22px;
  margin: 5px 0;
}
.account .far.fa-user-circle {
  font-size: 15px;
  color: grey;
}
.account .fas.fa-user-circle {
  vertical-align: middle;
  font-size: 25px;
  color: grey;
}
.account p {
  display: inline-block;
  font-size: 15px;
  color: grey;
  margin: 0 2px;
}
.account hr {
  margin: 5px 0;
  width: 206px;
  color: lightgrey;
}
.account h4 {
  color: white;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
}
.account a:hover .far, .account a:hover p {
  color: white;
}

.menu {
  margin-top: 10px;
  height: 50px;
  text-align: center;
}
.menu a {
  display: inline-block;
  text-decoration: none;
}
.menu p {
  color: grey;
  font-size: 12px;
  margin: 0 10px;
  text-transform: uppercase;
}
.menu p:hover {
  color: white;
}
.green_line {
  width: 33%;
  border-bottom: 2px solid lime;
  margin: 2px 33%;
}

.recently_played {
  display: flex;
  flex-direction: row;
}
.created_for {
  display: flex;
  flex-direction: row;
}

.round_img {
  border-radius: 50%;
}

.songs {
  width: 16%;
}

.songs_downrow {
  width: 16%;
}
.pic {
  width: 90%;
  cursor: pointer;
  position: relative;
}
.pic_two {
  width: 90%;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.pic img {
  width: 100%;
}
.pic_two img {
  width: 100%;
}
.layover i {
  display: none;
}
.layover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
}
.layover:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.layover:hover .far.fa-play-circle {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 1;
  color: white;
}


.text_songs h4 {
  font-size: 20px;
  color: white;
  margin: 10px 0;
}
.text_songs p {
  font-size: 15px;
  color: grey;
  margin-bottom: 20px;
}
.text_songs {
  text-align: center;
  width: 90%;
}

.main_nav {
  display: flex;
  flex-direction: column;
  float: left;
  width: 250px;
  height: 100%;
  background-color: black;
  overflow-y: hidden;
}

.main_content {
  float: left;
  width: calc(100% - 250px);
  height: 100%;
  padding-top: 70px;
  background-color: #0d1015;
  overflow-y: auto;
}
.container_main_content {
  padding: 0 20px;
}
.after_htwo {
  color: grey;
  font-size: 12px;
  margin-bottom: 20px;
}

.left_footer {
  height: 90px;
}
.right_footer {
  height: 90px;
}

.left_footer_img {
  display: inline-block;
}
.left_footer img {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 25px 10px;
}
.left_footer_text {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-bottom: 17px;
}
.left_footer_text h5 {
  color: white;
}
.left_footer_text h6 {
  color: grey;
  cursor: pointer;
}
.left_footer_text h6:hover {
  color: white;
  text-decoration: underline;
}
.left_footer_i {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.left_footer_i i {
  margin: 0 5px;
  font-size: 20px;
  color: grey;
  cursor: pointer;
}
.left_footer_i i:hover {
  color: white;
}


.top_center_footer {
  text-align: center;
  height: 40px;
}
.top_center_footer i {
  color: white;
  margin: 10px;
  font-size: 15px;
  vertical-align: middle;
}
.far.fa-play-circle {
  font-size: 25px;
  vertical-align: middle;
}
.far.fa-play-circle:hover {
  font-size: 27px;
  cursor: pointer;
}

.bottom_center_footer span {
  color: white;
  font-size: 10px;
  vertical-align: middle;
}
.long_line {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  height: 3px;
  margin: 0 0.5vw;
  background-color: grey;
  width: 25vw;
}
.fas.fa-circle {
  display: none;
}
.long_line:hover .inside_line {
  background-color: lime;
}
.long_line:hover .fas.fa-circle {
  display: block;
  position: absolute;
  left: 10%;
  top: -3px;
  color: white;
  font-size: 10px;
}
.inside_line {
  width: 10%;
  height: 3px;
  background-color: lightgray;
}

.right_footer_i {
  line-height: 90px;
  display: inline-block;
  height: 100%;
}
.right_footer_i i {
  font-size: 12px;
  color: white;
  margin: 0 5px;
}
.short_line {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  height: 3px;
  margin: 0 0.5vw;
  background-color: grey;
  width: 50px;
}
.short_line:hover .fas.fa-circle {
  display: block;
  position: absolute;
  left: 20%;
  top: -3px;
  color: white;
  font-size: 10px;
}
.short_line:hover .inside_line.up_ {
  background-color: lime;
}
.inside_line.up_ {
  width: 30%;
}

@media screen and (max-width: 1199px) {
  .created_for {
    flex-wrap: wrap;
  }
  .recently_played {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .main_content {
    width: calc(100% - 70px)
  }
  .main_nav {
    width: 70px;
  }
  header {
    width: calc(100% - 83px);
  }
  .main_nav p, .main_nav h4, .main_nav h2, .main_nav h5, .main_nav hr {
    display: none;
  }
  .main_nav hr {
    width: 40px;
    color: black;
  }
  .playlist i {
    display: none;
  }
  .account .far {
    margin: 10px 6px;
  }
  .display_none {
    display: none;
  }
  .display_allow {
    display: block;
  }
  .left_footer_i {
    margin-bottom: 28px;
  }
  .left_footer_i i {
    display: block;
  }
  .logo img {
    margin: 10px 20px;
    width: 40%;
  }
  .home i, .home_two i {
    font-size: 20px;
  }
  .vertical_line {
    display: none;
  }
  .logo {
    height: 50px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .songs {
    width: 25%;
  }
  .songs_downrow {
    width: 25%;
  }
}
@media screen and (max-width: 1024px) {
  .songs {
    width: 50%;
  }
  .songs_downrow {
    width: 50%;
  }
}
